<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.user_type === "patient" %>
<p>
  <strong>Medicare:</strong>
  <%= @user.medicare %>
</p>

<p>
  <strong>Ndss:</strong>
  <%= @user.ndss %>
</p>
<% end %>

<% if @user.user_type === "doctor" %>


<p>
  <strong>Location:</strong>
  <%= @user.location %>
</p>

<p>
  <strong>Specialization:</strong>
  <%= @user.specialization %>
</p>

<% end %>

<% if @user === @current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
