<p id="notice"><%= notice %></p>

<h1>Blood Sugars</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Time</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blood_sugars.each do |blood_sugar| %>
      <tr>
        <td><%= blood_sugar.user_id %></td>
        <td><%= blood_sugar.time %></td>
        <td><%= blood_sugar.level %></td>
        <td><%= link_to 'Show', blood_sugar %></td>
        <td><%= link_to 'Edit', edit_blood_sugar_path(blood_sugar) %></td>
        <td><%= link_to 'Destroy', blood_sugar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blood Sugar', new_blood_sugar_path %>
