<nav>
  <ul>
    <li><%= link_to "Home", '/' %></li>
    <li><%= link_to "Your Doctor", '/users/12' %></li>
    <li><%= link_to "Information", '/info' %></li>
    <li><%= link_to "GI Lookup", '/glycemic_indices' %></li>
    <li><%= link_to "Questions", '/questions' %></li>
  </ul>
</nav>
