(Admin)
<nav>
  <ul>
    <li><%= link_to "Questions", '/questions' %></li>
    <li><%= link_to "Blood Sugars", '/blood_sugars' %></li>
    <li><%= link_to "GI Lookup", '/glycemic_indices' %></li>
    <li><%= link_to "Medications", '/medications' %></li>
    <li><%= link_to "Users", '/users' %></li>
  </ul>
</nav>
