<!DOCTYPE html>
<html>
  <head>
    <title>EndoConnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>


  <body>

    <% if @current_user.present? %>
    Logged in as <a href="/users/<%= @current_user.id %>"><%= @current_user.first_name %></a>
      <%# Show the correct nav for the logged-in user type %>
        <%= render partial: "layouts/nav_#{@current_user.user_type}" %>
          <%= link_to "Logout", login_path, method: 'delete', :class => "mdl-button", :onClick => 'alert("You have been logged out")'%>
    <% end %>

    <% if false %>

    <% if @current_user.present? %>
    <% if @current_user.user_type === 'admin' %>
    <% end %>
    <% if @current_user.user_type === 'doctor' %>
    (Doctor)
    <% end %>
    <% if @current_user.user_type === 'patient' %>
    (Patient)
    <% end %>
    <%= link_to "Logout", login_path, method: 'delete', :class => "mdl-button", :onClick => 'alert("You have been logged out")'%>

    <% if @current_user.user_type === 'admin' %>

    <% end %>

    <% if @current_user.user_type === 'doctor' %>

    <% end %>

    <% if @current_user.user_type === 'patient' %>

    <% end %>
    <% end %>

    <% end %><%# turn off all code %>


    <%= yield %>
  </body>
</html>
